@model DemoProjectAPI.Models.PetAnimal

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PetAnimal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="petId" class="control-label"></label>
                <input asp-for="petId" class="form-control" />
                <span asp-validation-for="petId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="petName" class="control-label"></label>
                <input asp-for="petName" class="form-control" />
                <span asp-validation-for="petName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="petType" class="control-label"></label>
                <input asp-for="petType" class="form-control" />
                <span asp-validation-for="petType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gender" class="control-label"></label>
                <input asp-for="gender" class="form-control" />
                <span asp-validation-for="gender" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsVeg" /> @Html.DisplayNameFor(model => model.IsVeg)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
