@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <input type="text" value="Nothing" />
    <input type="button" value="Submit" />
    <h1>dammunte pattukora shekawath patttukonte vadilesta syndicate 💥💥💥💥</h1>
</div>
