@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<input type="text" value="Nothing"/>
<input type="button" value="Submit"/>
<h1>dammunte pattukora shekawath patttukonte vadilesta syndicate</h1>

<p>Use this page to detail your site's privacy policy.</p>
